{% extends "myapp/partials/base.html" %} 

{% block content %}
    <div class="d-flex flex-column align-items-center gap-2">  
        <h1> Register </h1>
        <form
         action="{% url 'register' %}" 
         method="post"
         class='d-flex flex-column gap-0.5'
         > 
         {% csrf_token %}
          <label for="username"> username:</label> 
          <input type="text" id="username" name="username" required>
          <br> 
          <label for="password"> Password :</label> 
          <input type="password" id="password" name="password" required>
          <br> 
          <label for="email"> email:</label> 
          <input type="email" id="email" name="email" required>
          <br> 
          <button type="submit">Submit</button> 
        </form>

        {% for message in messages %}
                <p> {{ message }}
        {% endfor %}

    </div>
{% endblock %}