{% extends "myapp/partials/base.html" %} 

{% block content %}
    <h1>A bit about us...</h1>
    <p class="fw-bold fst-italic">The Royal Oak is a family friendly pub on the border of northamptonshire. We pride ourselves on creating beautiful dishes accompanied by refreshing beverages. We were first established in 1972 and the business has been past down through the family.</p>
    <div class="min-vh-100 d-flex align-items-center justify-content-center"
        style="
          background: url('https://images.unsplash.com/photo-1605926637512-c8b131444a4b?q=80&w=1780&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') center center no-repeat;
          background-size: cover;
        "
>
</div>
{% endblock %}
