{% extends "myapp/partials/base.html" %} 

{% block content %}
    <div class="container-bg-secondary text light">
    <h1 class="text-center p-5 fw-bold fst-italic">Royal Oak Menu</h1>

    <div class="d-flex flex-column align-items-center fw-bold fst-italic">
        <h3> Breakfast Menu </h3>
        <ul class="list-unstyled text-center">
            {% for item in breakfast %}
                <li> {{ item.name }} - £{{ item.price }} </li>
            {% endfor %}
        </ul>

        <h3> Lunch Menu </h3>
        <ul class="list-unstyled text-center">
            {% for item in lunch %}
                <li> {{ item.name }} - £{{ item.price }} </li>
            {% endfor %}
        </ul>
        <h3> Dinner Menu </h3>
        <ul class="list-unstyled text-center">
            {% for item in dinner %}
                <li> {{ item.name }} - £{{ item.price }} </li>
            {% endfor %}
        </ul>
    </div>
        <div id="btn"> click me </div>
    </div>
    <script> 
            // binding click events to a div.
            var element = document.getElementById('btn').addEventListener('click', function ( ) {
                console.log('btn clicked')
                // fetch request to our api. 
                // fetch('/reservations')
            });
            console.log('heyy')
    </script>
{% endblock %}

{% comment %} for ( var i = 0; i < items.length; i++ ) {
    item[i]
} {% endcomment %}