{% extends "myapp/partials/base.html" %}
{% load static %}

{% block content %}


<div class="d-flex flex-column align-items-center">
    <h1 class="mb-4" > My Reservations</h1>
    {% for item in reservations %}
        <div class="border p-4 mb-5">
            Reservation #{{ item.pk }} on {{ item.date }} at {{ item.time }}<br>
            Party Size: {{ item.party_size }} | Table: {{ item.table }}<br><br>

            <button type="button" onclick="deleteReservation({{ item.pk }})" class="mr-4">
                Cancel
            </button>
            <a href="{% url 'reserved' item.pk %}"> Update reservation </a>
        </div>
    {% endfor %}
</div>

<input type="hidden" id="csrf_token" value="{{ csrf_token }}">
{% csrf_token %}
<script>
    console.log('loaded')
    function deleteReservation(pk) {
        
        const url = `/deletereservation/${pk}`;  
        console.log( url )
        const csrftoken = document.getElementById("csrf_token").value;

        fetch(url, {
            method: 'DELETE',
            headers: {
                'X-CSRFToken': csrftoken,
                'Content-Type': 'application/json'
            }
        })
        .then(response => {
            if (response.ok) {
                
                window.location.reload();
            } else {
                alert("Error cancelling reservation.");
            }
        })
        .catch(error => {
            console.error(error);
            alert("Error cancelling reservation.");
        });
    }
</script>
{% endblock %}